.ctxm-container {
    position: absolute;
    background-color: rgb(10,10,10);
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 8px;
    border: 1px solid rgb(80, 80, 80);
    overflow: hidden;
    font-family: Arial;
    color: white;
    z-index: 1000;
}

.ctxm-button {
    position: absolute;
    height: 26px;
    color: white;
    user-select: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color 0.1s ease;
}

.ctxm-button:hover {
    background-color: rgb(60, 60, 60);
}

.ctxm-title {
    position: absolute;
    height: 26px;
    font-size: 12px;
    user-select: none;
    pointer-events: none;
    align-content: center;
    white-space: nowrap;
}

.ctxm-keybind {
    position: absolute;
    height: 26px;
    font-size: 12px;
    user-select: none;
    pointer-events: none;
    align-content: center;
    text-align: right;
    color: rgb(140, 140, 140);
    white-space: nowrap;
}

.ctxm-separator {
    position: absolute;
    background-color: rgb(80, 80, 80);
    height: 1px;
}

.ctxm-prefix-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    user-select: none;
    pointer-events: none;
}

.ctxm-suffix-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    user-select: none;
    pointer-events: none;
}